<html>
  <head>
    <title>ConvertMyMoney</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <div class="card text-center">
      <div class="card-header" style="padding: 4px; background-color: #90c6ff">
        <a href="/"><img src="/images/logo.png" alt="ConvertMyMoney" style="width: 489px;"></a>
      </div>
      <div class="card-body">