<%- include('header') %>
<form id="form" method="GET" action="/cotacao">
  <input
    type="number"
    id="cotacao"
    name="cotacao"
    placeholder="Cotação do dólar"
    value="<%= cotacao %>"
  />
  <br />
  <input
    type="number"
    id="quantidade"
    name="quantidade"
    placeholder="Quantidade de reais"
  />
  <br />
  <button type="button" id="converter">Converter!</buttontype="button">
</form>
<%- include('footer') %>
