body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1 img {
  width: 500px;
}

input {
  border: 1px solid #000000;
  background: #fdfdfd;
  font-size: 20px;
  padding: 4px;
  margin: 4px;
}

button {
  border: 1px solid #000000;
  background: #d8d8d8;
  font-size: 20px;
  padding: 4px;
  margin: 4px;
}

.result {
  padding: 10px;
  border: 1px solid #d8d8d8;
  background: #fdfdfd;
}
